@charset "UTF-8";

body {
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

/*ヘッダー共通*/


.header_all {
  width: 100%;
  height: 100px;
}

.header_all a img {
  width: 100px;
  height: 70px;
  padding: 10px 0 0 10px;
}

header .nav_bar {
  float: right;
}

header .nav_bar ul {
  display: flex;
}

header .nav_bar ul li {
  padding: 20px;
  line-height: 1.2;
  text-align: center;
}

header .nav_bar ul li a {
  font-size: 30px;
  position: relative;
}

header .nav_bar ul li a::before {
  background: #686868;
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 67%;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}

header .nav_bar ul li a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

header .nav_bar ul li a small {
  display: block;
  font-size: 10px;
}

header .drawer {
  visibility: hidden;
}

/*トップ共通*/

.top {
  width: 100%;
  height: 700px;
  display: flex;
  background-color: #fff;
}

.top_img {
  width: 60%;
  height: 100%;
}

.top_img img {
  width: 100%;
  height: 100%;
}

.top_ttl {
  margin-top: 20%;
  margin-left: 20px;
  font-size: 40px;
  animation-name: fadeUpAnime;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  white-space: nowrap;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*breadcrumb共通*/

.breadcrumb {
  margin: 30px 0 0 30px;
}

.breadcrumb ul {
  display: flex;
}

.breadcrumb ul li {
  font-size: 20px;
}

.breadcrumb ul li:first-child::after {
  content: "＞　";

}

.breadcrumb ul li .color {
  color: #ffa500;
}


/*セクションタイトル共通*/
.section {
  margin-top: 100px;
}

.section_ttl {
  padding-left: 20px;
}

.section_ttl h2 {
  padding: 50px 0 50px;
  font-size: 45px;
  font-weight: 900;
  text-shadow:.5px .5px #333,
    -.5px .5px #333,
    -.5px -.5px #333,
    .5px -.5px #333,
    .5px 0px #333,
    0px .5px #333,
    -.5px 0px #333,
    0px -.5px #333;
  color: #333;
  width: 100%;
  margin: 0 auto;
}

.section_ttl small {
  display: block;
  border-top: 2px solid #333 ;
  width: 300px;
  font-size: 20px;
  text-shadow: none;
}




/*Footer共通*/

.footer_all {
  background-color: #c1ac93;
  width: 100%;
  height: auto;
}

.footer_logo {
  display: inline-block;
}

.footer_logo a {
  display: flex;
}

.footer_logo a img {
  width: 100px;
  height: 100px;
}

.footer_logo a .company_name {
  font-size: 30px;
  padding-top: 25px;
}

.footer_sns {
  text-align: center;
}

.footer_sns_ttl {
  font-size: 30px;
}

.footer_sns_img {
  margin-bottom: 20px;
}

.footer_sns_img img {
  width: 60px;
  padding: 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

.footer_sns_img img:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
}


.footer_contents {
  display: flex;
  justify-content: center;

}

.footer_contents ul {
  width: 27%;
  text-align: center;
  border-right: #333 2px solid;
}

.footer_contents ul:first-child {
  border-left: #333 2px solid;
}


.footer_contents ul li {
  font-size: 18px;
  margin-bottom: 5px;
  
}

.footer_contents ul li a {
  -webkit-transition: .3s;
  transition: .3s;
}

.footer_contents ul li a:hover {
  font-size: 20px;
  color: #fff;
}

.footer_txt {
  
  text-align: center;
  display: block;
  padding: 10px 0 5px;
}