@charset "UTF-8";





@media screen and (max-width: 1024px) {

  .footer_all {
      height: 860px;
    }
}
  


@media screen and (max-width: 768px) {

  /*TOP_ttl共通*/
  .top {
      display: block;
      position: relative;
    }
  
    .top_ttl {
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 80px;
      text-align: center;
      font-size: 50px;
    }
  
    .top_ttl h1 {
      display: inline-block;
      width: initial;
      background-color: #fff;
      padding: 0 20px;
    }
  
    .top_img {
      width: 100%;
  
    }

  /*header共通*/

  header {
    height: 100px;
  }
  
  .header_all {
    position: relative;
  }

  header .drawer {
    visibility: visible;
    position: absolute;
    width: 70px;
    top: 2%;
    right: 4%;
    border-top: solid 13px #000;
    z-index: 100;
    cursor: pointer;
  }

  header .drawer::before,
  header .drawer::after {
    content: "";
    display: block;
    width: 70px;
    height: 13px;
    background-color: #000;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  header .drawer::before {
    top: 9px;
  }

  header .drawer::after {
    top: 30px;
  }

  header .nav_bar {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #fff;
  }

  header .nav_bar ul {
    display: block;
    text-align: center;
    float: none;
    top: 20%;
  }
  header .navbar ul li a {
    font-size: 18px;
    line-height: 2;
    color: #000;
  }

  body.nav-open header .drawer {
    border-top: 0;
  }
  
  body.nav-open header .drawer::before {
    top: 20px;
    transform: rotate(-45deg);
  }
  
  body.nav-open header .drawer::after {
    top: 20px;
    transform: rotate(45deg);
  }

  /*Footer共通*/

  .footer_all {
    height: 500px;
  }



}






@media screen and (max-width: 480px) {

  /*header共通*/
  header .drawer {
    top: 3%;
  }

  .header_all a img {
    padding: 5% 3% 0;
  }

  .section_ttl {
    padding: 0;
  }
  .section_ttl h2 {
    text-align: center;
  }

  .section_ttl small {
    width: initial;
  }

  /*footer共通*/

  .footer_all {
    height: 850px;
    position: relative;
  }


  .footer_contents {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 0 10px;
    
  }
  
  .footer_contents ul {
    border: none;
    width: initial;
    padding-bottom: 20px;
    text-align: right;
    line-height: 2;
    border-bottom: 2px solid #333;
  }


  .footer_sns {
    position: absolute;
    top: 550px;
    right: 0;
  }
  
  .footer_sns {
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
  }

  .footer_contents ul:first-child {
    border-left: none;
  }

  .footer_contents ul:last-child {
    border: none;
  }

  .footer_txt {
    position: absolute;
    top: 800px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .footer_contents ul li {
    font-size: 20px;
  }



 }